@import "tailwindcss";

/* Light mode defaults */
:root {
  --background: #ffffff;        /* dark-blue-950 */
  --foreground: #e0edfe;        /* gray-300 */
  --accent: #000000;            /* blue-700 */
  --accent-hover: #2563eb;      /* blue-600 */
  --border-color: #1e3a8a;      /* blue-800-ish */
  --muted-text: #94a3b8;        /* slate-400 */
}

/* Register theme tokens for Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode when system prefers dark  */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1120;       /* deeper dark-blue */
    --foreground: #f1f5f9;       /* slate-100 */
    --accent: #1d4ed8;           /* blue-700 */
    --accent-hover: #3b82f6;     /* blue-500 */
    --border-color: #1e3a8a;     /* blue-800 */
    --muted-text: #64748b;       /* slate-400 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 22ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* typing + blinking cursor */
.typing-effect {
  width: 15ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;

  animation:
    typing 2s steps(35) forwards,
    blink .6s step-end 2s 3,
    hide-cursor 0s linear 3.8s forwards;
}

@keyframes hide-cursor {
  to { border-right-color: transparent; }
}

/* main reveal animation */
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.reveal-animate-main {
  animation: appear 1s ease-out forwards;
}


.reveal-left-to-right {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

